/* ------------------
Services page styles
--------------------*/

/* BODY AND HEADER STYLES */

body {
    font-family: Arial, sans-serif;
    max-width: 960px;
    min-width: 480px;
    margin: 0 auto 0 auto;
    background: #c7c7c7;
}

header {
    width: 100%;
    height: 170px;
    background: #121212;
}

.bg {
    width: 100%;
    height: 150px;
}

.logo {
    float: left;
    width: 22.5%;
    min-width: 175px;
    margin: 40px 0 0 25px;
}

/* NAVIGATION STYLES */

.navigation {
    list-style-type: none;
    padding-top: 55px;
}

.navigation li {
    float: left;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    font-size: 18px;
    padding: 8px;
    color: white;
    text-align: center;
    margin: 10px 0 0 4%;
    width: 100px;
    display: block;
    border: 1px solid white;
    border-radius: 2px;
}

.navigation li:link {
    background: black;
    color: white;
}

.navigation li:visited {
    background: black;
    color: white;
}

.navigation li:hover {
    background: white;
    color: black;
}

.navigation li:active {
    background: white;
    color: black;
}

a.navicon {
    display: none;
}

/* SECTION AND ARTICLE STYLES */

/* 2.4.2 g.i */
/* 2.4.7 a.i */
section#mainpage {
    display: grid;
    grid-template-areas:
        'header header'
        'itemone itemtwo'
        'itemthree itemthree'
        'itemfour itemfour'
        'itemfive itemfive';
    width: 100%;
    grid-gap: 15px;
    background-image: url("pictures/background2.jpg");
    background-size: 960px;
    background-repeat: no-repeat;
    background-origin: padding-box;
}

h2.pageheading {
    grid-area: header;
    margin: 140px 0 125px 0;
    color: white;
    width: 100%;
    text-shadow: 1px 1px 2px black;
    font-size: 50px;
    text-align: center;
}

article h5 {
    font-size: 20px;
    padding-bottom: 10px;
    text-align: center;
}

article {
    justify-self: center;
    line-height: 1.5;
}

/* 2.4.2 d.iii */
article:first-of-type {
    grid-area: itemone;
    border-right: 1px solid black;
}

article.item2 {
    grid-area: itemtwo;
    border-left: 1px solid black;
}

/* 2.4.2 c */
article.item3 {
    grid-area: itemthree;
    color: rgb(199,199,199);
    color: rgba(199,199,199,1);
    background: hsla(0,0%,7%,1);
}

article.item4 {
    grid-area: itemfour;
}

article.item5 {
    grid-area: itemfive;
    margin-bottom: 30px;
}

article.item5 p {
    text-align: center;
}

#mainpage article {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    padding: 0 15px 10px 15px;
}

.item3 h5 {
    padding: 10px 0 20px 0;
}

.item3 ul {
    text-align: center;
    list-style-type: none;
    float: left;
    width: 50%;
}

.item4 ul {
    text-align: center;
    list-style-type: none;
    line-height: 1.2;
}

.item4 li {
    float: left;
    width: 14.28%;
}

/* VIDEO AND AUDIO STYLES */

/* 2.4.5 a */
video {
    height: 240px;
    width: 360px;
    display: block;
    padding-bottom: 5px;
    margin: 0 auto 0 auto;
}

/* 2.4.5 a */
audio {
    padding: 30px 0 5px 0;
    display: block;
    margin: 0 auto 0 auto;
}

/* FOOTER STYLES */

footer {
    clear: both;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    background: #121212;
    text-align: center;
}

footer div {
    float: left;
    color: #c7c7c7;
    margin: 10px;
    padding: 0 30px 0 30px;
}

footer div:nth-of-type(2) {
    border-right: 1px solid white;
    border-left: 1px solid white;
}

footer h5 {
    padding: 5px;
}

/* HYPERLINK STYLES */

#mainpage a.reglink:link {
    color: #4f62d1;
    text-decoration: none;
}

#mainpage a.reglink:visited {
    color: #4f62d1;
    text-decoration: none;
}

#mainpage a.reglink:hover {
    color: white;
    text-decoration: none;
}

#mainpage a.reglink:active {
    background: white;
    color: black;
    text-decoration: none;
}

footer a {
    color: #c7c7c7;
    text-decoration: none;
}

/*==============
Media queries 
==============*/

@media only screen and (max-width: 640px) {
    .navigation {
        display: none;
    }
    
    a.navicon {
        display: inline;
        position: relative;
        top: 70px;
        left: 80px;
    }
    
    a.navicon:hover+ul.navigation, nav ul:hover {
        display: inline-block;
        position: relative;
        top: 80px;
        left: 6px;
        background: #121212;
        padding-bottom: 10px;
        width: 111px;
    }
}